instance.cfg
mmc-pack.json

modlist.html
minecraft/journeymap
minecraft/logs
minecraft/mods
minecraft/resourcepacks
minecraft/saves
minecraft/server-resource-packs
minecraft/shaderpacks
minecraft/usercache.json
minecraft/usernamecache.json